.site-head {
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }

  @each $color in $stalfos-themes {
    $theme-name: nth($color, 1);
    .theme-option-text[data-theme='#{$theme-name}'] {
      border-bottom: 3px solid var(--color-theme-#{$theme-name});
    }
  }
}
