.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-bg-glare);
  color: var(--color-text);
  border-top: 1px solid var(--color-stroke);

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }

  &__swatch {
    color: var(--color-dark);
    background: var(--color-theme-highlight);
    padding: 0.2rem 0.4rem 0.3rem 0.4rem;
  }
}
