<div class="callout">
  Want to find out when I post a new article? Sign up for my <a href="https://buttondown.email/geoffrich">email list</a>, follow me on <a href="https://twitter.com/geoffrich_">Twitter</a>, or subscribe to my <a href="/feed.xml">RSS feed</a>.
</div>