<div class="callout">
  Want to find out when I post a new article? Follow me on <a href="https://front-end.social/@geoffrich">Mastodon</a> or <a href="https://bsky.app/profile/geoffrich.net">Bluesky</a> or subscribe to my <a href="/feed.xml">RSS feed</a>. I also have an <a href="https://buttondown.email/geoffrich/">email newsletter</a> that I'll send out when I post something new, along with anything else I find interesting.
</div>