<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ] [ pad-top-700 pad-bottom-700 ">
  <div class="wrapper">
    <div class="[ site-head__inner ] [ md:box-flex space-between align-center ]">
      <a href="/" class="[ site-head__site-name ] [ leading-tight ]">
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <span class="[ site-head__site-name ] [ text-600 ]" aria-hidden="true">{{ site.name }}</span>
      </a>
      <div class="[ box-flex align-center ]">
        {% set ariaLabel = 'navigation' %}
        {% include "partials/components/nav.njk" %}
        <button class="[ button theme-selector-toggle ] [ text-600 bg-primary ] " aria-expanded="false">
          <span class="visually-hidden">Toggle theme selector</span>
          {% include "icons/paint.svg" %}
        </button>
      </div>
    </div>

    <div class="theme-selector" data-state="closed">
      <fieldset >
        <legend>Theme color</legend>
        {% for themeName, color in tokens.themes %}
        <label for="theme-{{ themeName }}">
          <input class="theme-selector__option" type="radio" {{ "checked" if (themeName == "default")}} name="theme" value="{{ themeName }}" id="theme-{{ themeName }}">
            <span class="theme-selector__text" data-theme="{{ themeName }}">
              {{ themeName }}
            </span>
          </label>
        {% endfor %}
      </fieldset>
      <theme-toggle></theme-toggle>
    </div>
  </div>
</header>
