:root {
  --color-light: #fdfdfd;
  --color-dark: #27474e;
  --color-mid: #496970;
  --color-primary: #f3344a;
  --color-primary-glare: #f4d7da;
  --color-secondary: #678c94;
  --color-secondary-glare: #ebf0f1;
  --shadow: 0px 0px 40px rgba(39, 71, 78, 0.1);

  --primary-font: 'Saira Condensed', sans-serif;
  --secondary-font: 'Asap', sans-serif;
  --transition: 0.1s linear;
}

@media (prefers-reduced-motion) {
  :root {
    --transition: 0s linear;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--color-dark);
}

body {
  font-family: var(--primary-font);
}

main {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
}

main > * {
  grid-column: 2;
}

button {
  display: inline-block;
  text-decoration: none;
  color: var(--color-light);
  font-family: var(--secondary-font);
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  font-size: 1rem;
  background: var(--color-dark);
}

button:hover,
button:focus {
  /* filter trick from https://weblog.west-wind.com/posts/2020/Jul/28/Using-the-brightness-CSS-Filter-to-generically-highlight-Content */
  filter: brightness(150%) saturate(140%);
}

button:active {
  transform: scale(0.99);
}

label {
  display: inline-block;
  font-family: var(--secondary-font);
  margin-bottom: 0.5rem;
}

input[type='text'] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid var(--color-secondary);
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

input[type='text']:focus {
  border-color: #80bdff;
  outline: 0;
}

input[type='text']:invalid {
  box-shadow: none;
}

form {
  position: sticky;
  top: 0.5rem;
  z-index: 2;
  background: var(--color-light);
  padding: 1rem;
  border: 1px solid var(--color-mid);
  border-radius: 5px;
}

/* progress block */
.progress {
  padding: 1rem 4rem; /* extra padding to account for absolutely-positioned elements */
  border-radius: 1.25rem;
  box-shadow: var(--shadow);
}

.progress li {
  margin-bottom: 1.25rem;
  position: relative;
}

/* do not remove marker styles if javascript is not running */
.progress[data-init] {
  list-style: none;
}

.progress .checkmark {
  height: 1rem;
  width: 1rem;
  background: var(--color-primary);
  border-radius: 50%;
  position: relative;
  left: -2rem;
  top: 1.5rem;
  border: 1px solid var(--color-primary);
  transition: border-color, background var(--transition);
}

/* not last child so it doesn't go off screen */
.progress li::before {
  content: '';
  position: absolute;
  border-left: 2px solid var(--color-primary);
  height: 0;
  top: 1.5rem; /* same as checkmark top positioning */
  left: -1.5rem;
  transition: height var(--transition);
}

/* not last child so it doesn't go off screen */
.progress li[data-state='previous']:not(:last-child)::before {
  height: calc(100% + 1.25rem); /* account for margin on list item */
}

.progress svg {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity var(--transition);
}

.progress li[data-state='previous'] svg {
  opacity: 1;
}

.progress li[data-state='current'] .checkmark {
  background: var(--color-primary-glare);
}

.progress li[data-state='upcoming'] .checkmark {
  border-color: var(--color-secondary);
  background: var(--color-secondary-glare);
}

.progress .eyebrow {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--color-mid);
  position: relative;
}

.progress .eyebrow .counter {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-secondary-glare);
  position: absolute;
  left: -0.625rem;
  top: -0.4375rem;
  z-index: -1;
}

.progress .title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-dark);
}
