:root {
  // Pull the tokens and generate custom props
  @each $color in $stalfos-colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  @each $color in $stalfos-themes {
    #{'--color-theme-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // Set theme aliases
  --color-mode: 'light';
  --color-bg: var(--color-light);
  --color-bg-glare: var(--color-light);
  --color-text: var(--color-dark);
  --color-text-glare: var(--color-dark);
  --color-selection-text: var(--color-light);
  --color-selection-bg: var(--color-dark);
  --color-stroke: var(--color-mid);
  --color-action-bg: var(--color-primary);
  --color-action-text: var(--color-light);
  --color-theme-primary: var(--color-primary);
  --color-theme-primary-glare: var(--color-primary-glare);
  --color-theme-highlight: var(--color-highlight);
  --color-theme-highlight-block: var(--color-theme-highlight);
}

@include dark-mode() {
  --color-bg: var(--color-dark);
  --color-bg-glare: var(--color-slate);
  --color-text: var(--color-light);
  --color-selection-text: var(--color-dark);
  --color-selection-bg: var(--color-light);
  --color-stroke: var(--color-slate);
  --color-theme-primary: #{lighten(get-color('primary'), 50%)};
  --color-theme-primary-glare: #{lighten(get-color('primary-glare'), 50%)};
  --color-action-bg: var(--color-theme-primary-glare);
  --color-action-text: var(--color-dark);
  --color-theme-highlight-block: var(--color-slate);
  --color-theme-feature-text: var(--color-theme-highlight);
}

@each $color in $stalfos-themes {
  :root[data-theme='#{nth($color, 1)}'] {
    --color-theme-highlight: #{nth($color, 2)};
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  overflow: hidden;
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}
